body{
    font-family: Whyte;
    font-weight: 200;
    color: #fff;
}
a, body, div, footer, h1, header, html, img, li, nav, p, span, table, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: inherit;
    font-size: 100%;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
li, ul {
    list-style: none;
}
#editor li,ul{
    list-style: initial;
}
a, img, svg {
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
::selection{
    text-shadow: none;
    color: #fff;
    background: #496cff;
}
#gl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/**
*@Author: miatum
*@Description: 去除滚动条  chrome、edge
*@Date: 11:09 2020/10/5
*/
::-webkit-scrollbar{
    display:none;
}
svg {
    width: 100%;
    height: 100%;
}
@media (max-width: 1200px){
    #app {
        font-size: 1.5vw;
        line-height: 2.33333vw;
    }
}
@media (min-width: 1200px){
    #app {
        font-size: 18px;
        line-height: 28px;
    }
}
#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /**
    *@Author: miatum
    *@Description: 如果后续用JS监听鼠标滚轮和键盘上下键事件控制translate3D Y轴值，则可启用app的overflow：hidden
    *@Date: 0:02 2020/10/6
    */
    /*overflow: hidden;*/
}
#bg-w{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #171717;
}

/**
*@Author: miatum
*@Description: nav
*@Date: 2:22 2020/10/2
*/
#nav{
    z-index: 9994;
    mix-blend-mode: exclusion;
}
#nav>div {
    pointer-events: all;
}
.nav{
    position: fixed;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    user-select: none;
    pointer-events: none;
    color: #fff;
}
.nav-t{
    position: relative;
    width: 100%;
    height: 90px;
}
.nav-l{
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
}
/**
*@Author: miatum
*@Description: logo
*@Date: 4:22 2020/10/2
*/
#nav-t-logo{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 58px;
    height: 58px;
}
#nav-t-logo svg {
    fill: #fff;
    pointer-events: none;
}

/**
*@Author: miatum
*@Description: nav 横向ul
*@Date: 4:22 2020/10/2
*/
@media (max-width: 1599px) and (min-width: 650px){
    #nav-t-l-w {
        left: calc((100% - 73.21429vw + 90px)/2 - 25px);
    }
}
@media (min-width: 1599px){
    #nav-t-l-w {
        left: calc((100% - 73.21429vw)/2 - 25px);
    }
}
@media (max-width: 650px) {
    #nav-t-l-w {
        left: calc((100% - 69.04762vw + 90px) / 2 - 25px);
    }
}
#nav-t-l-w{
    position: absolute;
    top: 0;
    display: flex;
    overflow: hidden;
}
#nav-t-l-w a {
    height: 90px;
    padding: 0 25px;
}
#nav-t-l-w span {
    display: block;
}
@media (min-width: 1200px) {
    .nav-t-l{
        padding: 30px 0 0;
    }
}
@media (max-width: 1200px) {
    .nav-t-l{
        padding: calc(52px - 1.83333vw) 0 0;    }
}
.nav-t-l {
    position: relative;
    pointer-events: none;
}
.nav-line-wrap {
    position: relative;
}
@media (min-width: 1200px){
    .nav-t-l-no {
        font-size: 12px;
        line-height: 12px;
    }
}
@media (max-width: 1200px) {
    .nav-t-l-no {
        font-size: 1vw;
        line-height: 1vw;
    }
}
@media (max-width: 1200px) {
    .nav-t-l-name {
        font-size: 1.33333vw;
        line-height: 1.5vw;
    }
}
@media (min-width: 1200px){
    .nav-t-l-name {
        font-size: 16px;
        line-height: 18px;
    }
}
.nav-t-l-name{
    font-weight: 700;
}
.nav-t-l-name, .nav-t-l-no {
    position: relative;
    transform: translate3d(0,102%,0);
}
/**
*@Author: miatum
*@Description: li hover效果
*@Date: 13:18 2020/10/2
*/

@media (max-width: 1200px) {
    .nav-t-l .nav-line-w {
        bottom: calc(-40px + .83333vw);
        height: .5vw;
    }
}
@media (min-width: 1200px){
    .nav-t-l .nav-line-w {
        bottom: -30px;
        height: 6px;
    }
}
.nav-line-w {
    position: absolute;
    pointer-events: none;
    /*overflow: hidden;*/
}
.nav-t-l .nav-line-w {
    left: 0;
    width: 100%;
    overflow: hidden;
}
#nav-t-l-w .nav-line-w {
    transform-origin: 0 0;
    transform: scaleX(0);
}
.nav-line, .nav-line:after, .nav-line:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.nav-line:after, .nav-line:before {
    content: "";
    background: #fff;
}
.nav-line:after {
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    opacity: 1;
}
.nav-line-wrap.on .nav-line-x:after, .nav-line-wrap.on .nav-line-x:before, .nav-line-wrap:hover .nav-line-x:after, .nav-line-wrap:hover .nav-line-x:before {
    transform: translateX(0);
}
.nav-line-wrap.on .nav-line:before, .nav-line-wrap:hover .nav-line:before {
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    opacity: 1;
}
.nav-line-x:before {
    transform: translateX(-102%);
}
.nav-line-x:after {
    transform: translateX(102%);
}
.nav-line:before {
    opacity: 0;
}
.nav-line-wrap.on .nav-line:after, .nav-line-wrap:hover .nav-line:after {
    transition: none;
    opacity: 0;
}

/**
*@Author: miatum
*@Description: 跳转后台
*@Date: 7:09 2020/10/3
*/
.circle-w {
    display: table;
}

@media (min-width: 1200px) {
    #nav-t-r {
        top: 25px;
        right: 31px;
        height: 40px;
    }
}
@media (max-width: 1200px){
    #nav-t-r {
        top: calc(50px - 2.08333vw);
        right: 2.58333vw;
        height: 3.33333vw;
    }
}
#nav-t-r{
    position: absolute;
    opacity: 0;
}
@media (min-width: 1200px){
    .circle-txt {
        margin: 11px 0 0;
        padding: 0 20px;
        font-size: 16px;
        line-height: 18px;
    }
}
@media (max-width: 1200px){
    .circle-txt {
        margin: .91667vw 0 0;
        padding: 0 1.66667vw;
        font-size: 1.33333vw;
        line-height: 1.5vw;
    }
}
.circle-txt {
    font-weight: 700;
}
@media (min-width: 1200px){
    .circle {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 1200px){
    .circle {
        width: 3.33333vw;
        height: 3.33333vw;
    }
}
.circle, .circle-txt {
    float: left;
    position: relative;
    pointer-events: none;
}
.circle-light .circle-bg {
    background: #fff;
}
.circle span {
    display: block;
}
.circle-bg {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
}

@media (min-width: 1200px){
    .circle-svg-w {
        top: 14px;
        left: 12px;
        width: 16px;
        height: 12px;
    }
}
@media (max-width: 1200px){
    .circle-svg-w {
        top: 1.16667vw;
        left: 1vw;
        width: 1.33333vw;
        height: 1vw;
    }
}
.circle-svg, .circle-svg-w {
    position: absolute;
}
.circle-light .circle-svg svg {
    fill: #000;
}
.circle-svg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.circle-svg:first-child {
    transition: all .7s cubic-bezier(.23,1,.32,1) .2s;
}
.circle-svg:nth-child(2) {
    transition: all .3s cubic-bezier(.55,.055,.675,.19);
    transform: translate3d(-100%,0,0);
    opacity: 0;
}
.circle-svg-w.on .circle-svg:first-child, .circle-w:hover .circle-svg:first-child {
    transition: all .3s cubic-bezier(.55,.055,.675,.19);
    transform: translate3d(100%,0,0);
    opacity: 0;
}
.circle-svg-w.on .circle-svg:nth-child(2), .circle-w:hover .circle-svg:nth-child(2) {
    transition: all .7s cubic-bezier(.23,1,.32,1) .2s;
    transform: translateZ(0);
    opacity: 1;
}
.circle-w:after {
    content: "";
    display: block;
    clear: both;
}
/**
*@Author: miatum
*@Description: nav border
*@Date: 2:22 2020/10/2
*/
#nav-border{
    z-index: 9995;
}
#nav-border div div{
    position: absolute;
    transform-origin: 0 0;
}
#nav-border-t-t{
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    transform: scaleX(0);
    border-top: 1px solid #343434;
}
#nav-border-t-b{
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    transform: scaleX(0);
    border-bottom: 1px solid #343434;
}
#nav-border-t-l{
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    transform: scaleY(0);
    border-right: 1px solid #343434;
}
#nav-border-l-l {
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    transform: scaleY(0);
    border-left: 1px solid #343434;
}
#nav-border-l-r {
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    border-right: 1px solid #343434;
    transform: scaleY(0);
}
#nav-border-l-b {
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #343434;
    transform: scaleX(0);
}
/**
*@Author: miatum
*@Description: main page
*@Date: 7:24 2020/10/4
*/
@media (min-width: 1599px){
    .page {
        padding: 0 13.39286vw;
        width: 73.21429vw;
    }
}
@media (max-width: 1599px) and (min-width: 650px){
    .page {
        padding: 0 calc(13.39286vw - 45px) 0 calc(13.39286vw + 45px);
        width: 73.21429vw;
    }
}
@media (max-width: 650px){
    .page {
        padding: 0 15.47619vw 0 calc(15.47619vw + 45px);
        width: 69.04762vw;
    }
}
.page{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
}
.header{
    position: relative;
}
/**
*@Author: miatum
*@Description: explore
*@Date: 19:55 2020/10/14
*/
.uppercase{
    padding: calc(150px + 7.79762vw) 0 0;
    overflow: hidden;
    font-weight: 300;
}
@media (min-width: 1200px){
    .uppercase {
        font-size: 12px;
        line-height: 28px;
        letter-spacing: .8px;
    }
}
@media (max-width: 1200px){
    .uppercase {
        font-size: 1vw;
        line-height: 2.33333vw;
        letter-spacing: .06667vw;
    }
}

.uppercase span{
    display: block;
}
.title-w{
    padding: 4.82143vw 0 0;
    overflow: hidden;
}
.title-xl.title-xl-sp {
    line-height: 5.71429vw;
    overflow: hidden;
}
.words{
    animation: up 1s;
}
.line{
    animation: right 1s;
}
@keyframes up {
    0%{
        transform: translate3d(0,102%,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
@keyframes right {
    0%{
        transform: translate3d(-102%,0,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}
.title-xl {
    margin-left: -.41667vw;
    font-size: 5.35714vw;
    line-height: 4.88095vw;
    letter-spacing: -.14881vw;
    font-weight: 700;
}
.title-xl-sp span{
    display: block;
}
.line{
    height: .35714vw;
    transform-origin: 0 0;
}
.line-l {
    background: #fff;
}
.title-w .line {
    margin: 1.72619vw 0 0;
    width: 8.92857vw;
}
.work-w{
    display: flex;
    flex-wrap: wrap;
}
#ul-1 .work:first-child{
    margin-top: 2.55952vw;
}
.work-w .work {
    margin-top: 11.90476vw;
}
.work-l {
    height: 47.61905vw;
    width: 100%;
}
.work-s-m {
    width: 23.21429vw;
}
.work-s-s {
    margin-left: 1.78571vw;
}
.work-s-l {
    margin-left: 1.78571vw;
}
@media (min-width: 650px){
    .work-s-s {
        width: 16.96429vw;
    }
    .work-s-l {
        width: 29.46429vw;
    }
}
@media (max-width: 650px){
    .work-s-s {
        width: 15.47619vw;
    }
    .work-s-l {
        width: 25vw;
    }
}
.work {
    position: relative;
}
@media (min-width: 1599px){
    .work-l-r .work-img {
        width: 63.33333vw;
    }
    .work-l-l .work-img {
        width: 63.39286vw;
    }
}
.work-l-r .work-img {
    left: 23.21429vw;
}
.work-l-l .work-img {
    right: 23.21429vw;
}
.work-l .work-img {
    position: absolute;
    top: 0;
    height: 100%;
}
.work-img {
    cursor: pointer;
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
.work-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.work-img img:hover{
    transform: scale(1.05);
}
.work-s-m .work-img {
    height: 30.95238vw;
}
.work-s-s .work-img {
     height: 22.61905vw;
}
.work-s-l .work-img {
    height: 39.28571vw;
}
.work-l-r .work-txt {
    bottom: 0;
    left: 0;
}
.work-l-l .work-txt {
    top: 0;
    right: 0;
}
.work-l .work-txt {
    position: absolute;
    width: 16.96429vw;
}
.work-txt .line {
    width: 100%;
}
@media (min-width: 1200px){
    .work-l .work-title {
        padding: 45px 0 0;
    }
    .work-title {
        font-size: 20px;
        line-height: 24px;
    }
    .work-l .work-p-1 {
        padding: 20px 0 0;
        max-width: 285px;
    }
    .work-p-1 {
        font-size: 16px;
        line-height: 24px;
    }
    .work-a {
        margin: 14px 0 0;
        font-size: 16px;
    }
}
@media (max-width: 1200px){
    .work-l .work-title {
        padding: 3.75vw 0 0;
    }
    .work-title {
        font-size: 1.66667vw;
        line-height: 2vw;
    }
    .work-l .work-p-1 {
        padding: 1.66667vw 0 0;
        max-width: 23.75vw;
    }
    .work-p-1 {
        line-height: 2vw;
    }
    .work-a, .work-p-1 {
        font-size: 1.33333vw;
    }
    .work-a {
        margin: 1.16667vw 0 0;
    }
}
.work-title {
    font-weight: 400;
}
.work-title a {
    display: table;
}
.work-p{
    font-weight: lighter;
    font-size: 16px;
}
.work-p span {
    pointer-events: none;
}
.work-p-0, .work-p-1 {
    display: block;
}
.work-p-0 {
    margin: .95238vw 0 0;
    font-size: 1.54762vw;
    line-height: 1.78571vw;
    font-weight: 700;
    letter-spacing: -.02976vw;
}
.work-p-1 {
    font-weight: lighter;
}
.work-a {
    display: table;
    font-weight: bold;
}
.underline-w {
    position: relative;
}
.underline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.underline-w.on .underline:before, .underline-w:hover .underline:before {
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    transform: translateX(0);
    opacity: 1;
}
.underline:before {
    transform: translateX(-102%);
    opacity: 0;
}
.underline-l:after, .underline-l:before {
    border-bottom: 1px solid #fff;
}
.underline:after, .underline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: .2vw;
}
.underline-w.on .underline:after, .underline-w:hover .underline:after {
    transition: none;
    transform: translateX(0);
    opacity: 0;
}
.underline:after {
    transition: transform 1s cubic-bezier(.23,1,.32,1);
    transform: translateX(102%);
    opacity: 1;
}
.work-txt-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171717;
    pointer-events: none;
}

/**
*@Author: miatum
*@Description: sail
*@Date: 1:07 2020/10/15
*/
#sail {
    z-index: 9993;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}
#sail div:first-child, #sail div:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#sail div:first-child {
    background: #171717;
}
#sail div:last-child {
    background: #e9e9e9;
}
/**
*@Author: miatum
*@Description: exploresingle
*@Date: 17:40 2020/10/16
*/
@media (min-width: 1599px){
    .cover {
        margin-left: -13.39286vw;
    }
}
@media (max-width: 1599px) and (min-width: 650px){
    .cover {
        margin-left: calc(-13.39286vw - 45px);
    }
}
@media (max-width: 650px){
    .header-img {
        margin-left: calc(-13.39286vw - 59px);
    }
}
.cover{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
@media (min-width: 1200px){
    .blog-txt {
        margin: calc(-28px - 16.78571vw) 0 0;
        min-height: calc(28px + 16.78571vw);
    }
    .blog-tag{
        font-size: 12px;
        line-height: 28px;
        letter-spacing: .8px;
    }
}
@media (max-width: 1200px){
    .blog-txt {
        margin: -19.11905vw 0 0;
        min-height: 19.11905vw;
    }
    .blog-tag{
        font-size: 1vw;
        line-height: 2.33333vw;
        letter-spacing: .06667vw;
    }
}
.blog-tag{
    font-weight: 100;
    overflow: hidden;
}
.blog-txt .title-xl{
    padding: 4.7619vw 0 0;
    width: 60.71429vw;
}
.singleBlogHeader .title-xl{
    padding: 4.7619vw 0 0;
    width: 60.71429vw;
}
.title-xl-sp>span {
    margin: -.83333vw 0 0;
    overflow: hidden;
}
.intro-w{
    overflow: hidden;
}
.blog-txt p{
    padding: 1.78571vw 0 0;
    max-width: 705px;
    width: 41.96429vw;
    font-weight: lighter;
}